
@model basilico.karol._5h.Ecommerce.Models.Utente;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Login";
}
<style>
      
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #008000;
        }
        h2 {
            color: #b1c4a7;
        }
        p {
            line-height: 1.6;
            color: #333;
        }
    </style>
<h1>Login</h1>

<form asp-controller="Home" asp-action="p1" method="post">
    <div>
        <label>Email:</label>
        <input type="Text" name="Email" style="margin-left: 30px;"required />
    </div>
    <div>
        <label>Password:</label>
        <input type="Password" name="Password" required />
    </div>
    <div>
        <input type="submit" value="Accedi"/>
    </div>
</form>
