@{
    ViewData["Title"] = "Privacy Policy";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Farmacia Palazzetti</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #008000;
        }
        h2 {
            color: #b1c4a7;
        }
        p {
            line-height: 1.6;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Informativa sulla Privacy</h1>
        <p>La tua privacy è importante per noi. Di seguito, ti forniamo informazioni su come trattiamo i tuoi dati personali presso la Farmacia Palazzetti:</p>
        <h2>1. Raccolta dei dati</h2>
        <p>Raccogliamo i tuoi dati personali quando li fornisci volontariamente compilando moduli online, effettuando acquisti o interagendo con noi tramite telefono, email o altri mezzi di comunicazione.</p>
        <h2>2. Utilizzo dei dati</h2>
        <p>Utilizziamo i tuoi dati personali per elaborare gli ordini, fornirti assistenza clienti, inviarti comunicazioni informative e promozionali e migliorare i nostri servizi.</p>
        <h2>3. Condivisione dei dati</h2>
        <p>Non condividiamo i tuoi dati personali con terze parti al di fuori della Farmacia Palazzetti, tranne che per fini di elaborazione degli ordini e conformità legale.</p>
        <h2>4. Sicurezza dei dati</h2>
        <p>Adottiamo misure di sicurezza tecniche e organizzative per proteggere i tuoi dati personali da accessi non autorizzati, perdite o manipolazioni.</p>
        <h2>5. Diritti dell'utente</h2>
        <p>Hai il diritto di accedere, correggere o cancellare i tuoi dati personali in nostro possesso. Puoi esercitare questi diritti contattandoci tramite i dettagli di contatto forniti di seguito.</p>
        <h2>Contattaci</h2>
        <p>Se hai domande o dubbi riguardanti la nostra politica sulla privacy, non esitare a contattarci:</p>
        <p>Email: info@farmaciapalazzetti.it</p>
        <p>Telefono: +39 0123 456789</p>
    </div>
</body>
